#foodList {
    display: flex;
}

.row {
    border: 1px solid blue;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
}

/* h1 {
    margin: 1em;
}

h5 {
    margin: 1em;
}

h6 {
    margin: 1em;
} */